<div class="header-container">
  <div class="header-content">
    <div class="logo-container">Eatz</div>
    <div class="action-buttons-container">
      <button class="btn" routerLink="home" routerLinkActive="active">
        Home
      </button>
      <button class="btn" routerLink="offers" routerLinkActive="active">
        Offers
      </button>
      <button class="btn" routerLink="restaurants" routerLinkActive="active">
        Restaurants
      </button>
      <button class="btn" routerLink="orders" routerLinkActive="active">
        Orders
      </button>
      <button class="btn" routerLink="login" routerLinkActive="active">
        Login
      </button>
    </div>
    <div class="drop-down-container">
      <button class="btn" routerLink="login">Cart</button>
      <!-- <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button> -->
    </div>
  </div>
</div>
