<div class="header-container">
  <div class="header-content">
    <div class="logo-container">eatz</div>
    <div class="action-buttons-container">
      <button class="btn" routerLink="home" routerLinkActive="active">
        Home
      </button>
      <button class="btn" routerLink="offers" routerLinkActive="active">
        Offers
      </button>
      <button class="btn" routerLink="restaurants" routerLinkActive="active">
        Restaurants
      </button>
      <button
        class="btn"
        routerLink="orders"
        routerLinkActive="active"
        *ngIf="isAuthenticated"
      >
        Orders
      </button>
      <button
        class="btn"
        routerLink="login"
        routerLinkActive="active"
        *ngIf="!isAuthenticated"
      >
        Login
      </button>
      <button
        class="btn"
        routerLink="login"
        routerLinkActive="active"
        *ngIf="isAuthenticated"
      >
        Account
      </button>
    </div>
    <div class="drop-down-container" *ngIf="isAuthenticated">
      <button class="btn" routerLink="login">Cart</button>
      <!-- <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button> -->
      <button class="btn" (click)="onLogout()">Logout</button>
    </div>
  </div>
</div>
