// $theme-background-pink: rgb(255, 245, 236);

// $theme-pink: rgb(255, 237, 222);
$theme-white: white;
$text-blue-1: rgb(46, 38, 111);

$theme-red: #fe043c;
$theme-beige-1: #fff5ec;
$theme-beige-2: #ffedde;
$theme-grey: #aeb2b4;
